# 00_DataMunge_v1

Volunteer Ireland DataDive Spring 2015

### Join all tables into a single index:
## Opportunities -> Applications > Placements

In [1]:
## Interactive magics - comment out if running from another script
%matplotlib inline
%qtconsole --colors=linux --ConsoleWidget.font_size=12 --ConsoleWidget.font_family='Consolas'

In [2]:
import sqlite3
import string
# import re
import numpy as np
import pandas as pd
# import patsy as pt

pd.set_option('display.mpl_style', 'default')
pd.set_option('display.notebook_repr_html', True)
np.random.seed(0)

In [3]:
cnx = sqlite3.connect('data/volunteerireland_datadive2015.db')

# Read Data

## Opportunities

In [4]:
dfoppsaltm = pd.read_excel('data/df_oppsaltm.xlsx') #dtype={'GEOGID':str,'GEOGTYPE':str,'GEOGDESC':str})
dfoppsaltm.rename(columns=lambda x: 'opp_{}'.format('_'.join([y.strip(string.punctuation) for y in x.lower().split()])), inplace=True)
dfoppsaltm['opp_id'] = np.arange(dfoppsaltm.shape[0])
print(dfoppsaltm.shape)
dfoppsaltm.head()

(35494, 29)

,opp_created_date,opp_volunteer_opportunity_id,opp_organisation_id,opp_organisation_name,opp_volunteer_opportunity_volunteer_opportunity,opp_activity_that_reflects_opportunity,opp_volunteer_bureau,opp_county,opp_morning,opp_afternoon,...,opp_publish_direct_contact,opp_active,opp_number_of_volunteers_required,opp_automatic_de-activation_date,opp_publish_date,opp_skills_required,opp_skills/qualities_necessary,opp_suitable_for_corporates/groups,opp_benefits_to_volunteer,opp_id
0,2015-05-14,a00D000000a2hWM,001D000001hzVeF,Involve Salthill,Cycle group leader,Sports/out door activities/Coaching,Galway,Galway,NaN,NaN,...,0,0,2,2015-06-30,NaT,Fitness/ Health/ Beauty,Good communication skills; motivational skills...,Yes,The volunteer will gain experience in both co-...,0
1,2015-05-13,a00D000000a2fnU,001D000001hzHbI,Bloom Fringe,Festival Steward - City Centre,Events and stewarding,Dublin City,Dublin,Saturday,Saturday,...,1,1,20,2015-05-31,2015-05-14,Event management/ Fundraising; Personable Skills,No specific skills but a willingness to engage...,Yes,NaN,1
2,2015-05-12,a00D000000a2ejO,001D000001hz3rh,Make-A-Wish Ireland,County Volunteer Wish Team,Support and Key working,Dun Laoghaire/Rathdown,Dublin,Monday; Tuesday; Wednesday; Thursday; Friday; ...,Monday; Tuesday; Wednesday; Thursday; Friday; ...,...,0,0,5,2016-07-16,NaT,Hospitality/ Befriending; Personable Skills; Y...,"Skills required are friendly manner, listening...",Yes,NaN,2
3,2015-05-12,a00D000000a2edf,001D000001hz1WN,Knockatallon Community Development,Road Marshalling for Fundraising Event,Events and stewarding,Monaghan,Monaghan,NaN,NaN,...,0,0,10,2015-08-12,NaT,NaN,NaN,Yes,NaN,3
4,2015-05-12,a00D000000a2ecw,001D000001hz175,Multiple Sclerosis Society of Ireland,a companion to a person with multiple sclerosis,Befriending/Mentoring,Dublin City,Dublin,NaN,Monday; Tuesday; Wednesday; Thursday; Friday; ...,...,0,0,1,2015-08-12,NaT,Personable Skills,someone who likes dogs! and could befriend the...,No,contact from a person living with multiple scl...,4

## Orgs

In [5]:
dforgs = pd.read_excel('data/df_orgs.xlsx')
dforgs.rename(columns=lambda x: 'org_{}'.format('_'.join([y.strip(string.punctuation) for y in x.lower().split()])), inplace=True)
dforgs['org_id'] = np.arange(dforgs.shape[0])
print(dforgs.shape)
dforgs.head()

(7764, 16)

,org_created_date,org_organisation_id,org_organisation_name,org_county,org_local_area__dublin,org_aims_of_organisation,org_volunteer_bureau,org_organisation_status,org_cause_of_organisation,org_how_did_you_hear_about_our_service,org_which_best_describes_your_organisation,org_do_you_have_a_volunteer_policy,org_how_many_volunteers_do_you_involve,org_how_many_employees_are_in_your_org,org_how_do_you_manage_volunteers,org_id
0,2012-12-18,001D000000zg6AQ,Cork Job Club,Cork,NaN,Cork Job Club aims to expand awareness and hel...,Cork,Active,Unemployment,Word of Mouth,Registered Charity,No,less than 5 people,less than 5 people,We have a paid member of staff who is a part-t...,0
1,2012-08-14,001D000000tvhyQ,Knocknaheeny/Hollyhill Justice Project,Cork,NaN,The project's main focus is as a Garda Youth D...,Cork,Active,Social Inclusion,Word of Mouth,Registered Charity,Yes,less than 5 people,less than 5 people,We have a paid member of staff who is a full-t...,1
2,2007-01-23,00120000004o3iu,Lough Parish Meals On Wheels,Cork,NaN,To provide meals on wheels mainly to the elder...,Cork,Active,Older People/Active Retired,Word of Mouth,Registered Charity,No,5-10 people,less than 5 people,We have a volunteer who is responsible for Vol...,2
3,2012-10-02,001D000000w8uw9,Focus Ireland - Cork branch,Cork,NaN,Focus Ireland works to prevent people becoming...,Cork,Active,Homelessness/ Housing,Word of Mouth,Registered Charity,Yes,We currently do not involve volunteers,5-10 people,We have a paid member of staff who is a full-t...,3
4,2008-05-14,0012000000A4dWS,Cork Sports Partnership,Cork,NaN,The mission of Cork Sports Partnership is to i...,Cork,Active,Sports/Outdoor activities,Word of Mouth,Non Profit without Charity Number,Yes,We currently do not involve volunteers,5-10 people,Volunteer Management is shared between staff a...,4

## Applications

In [6]:
dfoppsapfr = pd.read_excel('data/df_oppsapfr.xlsx')
dfoppsapfr.rename(columns=lambda x: 'app_{}'.format('_'.join([y.strip(string.punctuation) for y in x.lower().split()])), inplace=True)
dfoppsapfr['app_id'] = np.arange(dfoppsapfr.shape[0])
print(dfoppsapfr.shape)
dfoppsapfr.head()

(110612, 10)

,app_volunteer_opportunity_applied_for_volunteer_opportunity_applied_for__name,app_volunteers_required,app_volunteer_opportunity_applied_for_created_date,app_volunteer_volunteer_id,app_volunteer_opportunity_applied_for_id,app_vop_name,app_volunteer_opportunity_applied_for,app_organisation_name,app_current_status_of_application,app_id
0,2015-188435,1,2015-05-05,00QD000000r6Ni2,a04D000000aYWaQ,a00D000000LNaRk,Family Law Mediators,The Guardian Children's Project,Registered interest in this Opp,0
1,2015-188434,1,2015-05-05,00QD000000prM1r,a04D000000aYWaL,a00D000000a2Gym,Community Engagement Team Member,BlueFire,Registered interest in this Opp,1
2,2015-188433,4,2015-05-05,00QD000000QofvS,a04D000000aYWaG,a00D000000a2KoB,Darkness Into Light Walk 2015,Pieta House - Darkness into Light,Passed on details to organisation,2
3,2015-188432,5,2015-05-05,00QD000000r5HY5,a04D000000aYWaB,a00D000000WZTvk,Information Liason Officer,EnGage Kildare,Registered interest in this Opp,3
4,2015-188431,1,2015-05-05,00QD000000r6NO0,a04D000000aYWa6,a00D000000LLe1w,Douglas Tidy Towns Volunteer,Douglas Tidy Towns,Details of contact passed to volunteer,4

In [7]:
# print(dfoppsapfr.loc[pd.isnull(dfoppsapfr['volunteer:_volunteer_id'])].shape)
# dfoppsapfr.groupby(['volunteer:_volunteer_id']).size().order()[-20:]

In [8]:
# dfoppsapfr.groupby(['volunteer:_volunteer_id']).size().order().plot(figsize=(10,4))

## Placements

In [9]:
dfplc = pd.read_excel('data/df_plc.xlsx')
dfplc.rename(columns=lambda x: 'plc_{}'.format('_'.join([y.strip(string.punctuation) for y in x.lower().split()])), inplace=True)
dfplc['plc_id'] = np.arange(dfplc.shape[0])
print(dfplc.shape)
dfplc.head()

(39821, 12)

,plc_place_volunteer_connector,plc_volunteer_id,plc_place_volunteer_id,plc_place_volunteer_created_date,plc_volunteer_opportunity_created_date,plc_volunteer_opportunity_record_id,plc_volunteer_registered_centre,plc_organisation,plc_volunteer_hours,plc_volunteer_opportunity_volunteer_centre,plc_volunteer_opportunity_volunteer_opportunity,plc_id
0,v-10825,00Q2000000E7TXM,a012000000QQACg,2009-11-30,2007-10-30,a0020000004lHjP,Kildare,The Bridge CDP,104,Kildare,Homework Club Mentor CDP,0
1,v-33133,00QD000000ekhy5,a01D000000lWTIj,2013-10-14,2011-09-15,a00D000000IOigU,Offaly,Birr Mentality Handicapped Association,12,NaN,Support Worker,1
2,v-40009,00QD000000XHKN2,a01D000000rEETh,2014-11-18,2013-08-06,a00D000000Q5juz,Dun Laoghaire/Rathdown,Society of St. Vincent de Paul - SVP Dublin Re...,104,Dublin City,Volunteer for Society of Saint Vincent de Paul...,2
3,v-11012,00Q2000000E83Nm,a012000000QQTTv,2009-12-10,2009-05-08,a002000000AkGnM,Dun Laoghaire/Rathdown,Making Connections,20,NaN,Web Design,3
4,v-11994,00Q2000000BAHaT,a012000000Sapby,2010-03-09,2009-01-14,a0020000009dQuO,Sligo,Irish Therapy Dogs,52,Sligo,Pet Visitor,4

## Volunteers

In [10]:
dfvol = pd.read_excel('data/df_vol.xlsx')
dfvol.rename(columns=lambda x: 'vol_{}'.format('_'.join([y.strip(string.punctuation) for y in x.lower().split()])), inplace=True)
dfvol['vol_id'] = np.arange(dfvol.shape[0])
print(dfvol.shape)
dfvol.head()

(103035, 22)

,vol_volunteer_id,vol_create_date,vol_how_long_do_you_wish_to_volunteer_for,vol_age_group,vol_why_do_you_want_to_volunteer_now,vol_volunteer_status,vol_method_of_contact_with_volunteer,vol_face_to_face,vol_gender,vol_nationality,...,vol_volunteered_before,vol_volunteer_bureau,vol_local_area__dublin,vol_volunteer_recruitment_method,vol_activity_you_are_interested_in,vol_cause_you_are_interested_in,vol_skills_qualities,vol_skills_profile,vol_county,vol_id
0,00Q2000000E7wXL,2009-11-09,NaN,36-49,Recently made redundant,Registered,NaN,NaN,Male,Irish,...,No,Galway,NaN,Internet Search,NaN,NaN,"Worked in computer support for over 11 years, ...",NaN,NaN,0
1,00Q2000000Hl336,2010-05-19,NaN,16-25,Free time,Registered Interest,Contact by phone/internet,Appointment,Male,Zimbabwean,...,No,Cork,NaN,Internet Search,NaN,NaN,Ecdl -Coumputer course retail experience kitc...,NaN,NaN,1
2,00QD000000NXhm2,2011-05-17,NaN,50-59,Work Experience,Registered,Contact by phone/internet,NaN,Female,Nigerian,...,No,South Dublin County,NaN,Internet Search,Administrative/Office work,Carers,Practical Care Skills\nManual Handling Skills\...,NaN,Dublin,2
3,00QD000000QoUOG,2011-11-17,NaN,26-35,Because I was asked,Registered,NaN,NaN,Male,Irish,...,Yes,Galway,NaN,Word of Mouth/Referred by another agency,NaN,NaN,Various.,NaN,NaN,3
4,00QD000000Uye1D,2012-07-04,NaN,26-35,Free time,Registered,Contact by phone/internet,NaN,Female,Irish,...,No,South Dublin County,NaN,Word of Mouth/Referred by another agency,NaN,NaN,I have worked in administration in the offices...,NaN,NaN,4

---

---

# Create a denormalised table based on workflow

## 1. Join org info onto opportunities

In [11]:
df1 = pd.merge(dfoppsaltm[['opp_id','opp_organisation_id','opp_volunteer_opportunity_id']]
               ,dforgs[['org_id','org_organisation_id']]
               ,how='left', left_on='opp_organisation_id', right_on='org_organisation_id')
print(df1.shape)
df1.tail().T

(35494, 5)

,35489,35490,35491,35492,35493
opp_id,35489,35490,35491,35492,35493
opp_organisation_id,00120000002IssF,00120000002IssF,00120000002IssF,00120000002IssF,00120000002IeNA
opp_volunteer_opportunity_id,a0020000008JCru,a0020000008JCrQ,a002000000ECPC7,a0020000000PEhI,a0020000000PEeJ
org_id,NaN,NaN,NaN,NaN,NaN
org_organisation_id,NaN,NaN,NaN,NaN,NaN

## 2. Join applications onto opportunities

In [12]:
df2 = pd.merge(df1
               ,dfoppsapfr[['app_id','app_vop_name','app_volunteer_volunteer_id']]
               , how='left', left_on='opp_volunteer_opportunity_id', right_on='app_vop_name')
print(df2.shape)
df2.tail().T

(128023, 8)

,128018,128019,128020,128021,128022
opp_id,35492,35492,35492,35492,35493
opp_organisation_id,00120000002IssF,00120000002IssF,00120000002IssF,00120000002IssF,00120000002IeNA
opp_volunteer_opportunity_id,a0020000000PEhI,a0020000000PEhI,a0020000000PEhI,a0020000000PEhI,a0020000000PEeJ
org_id,NaN,NaN,NaN,NaN,NaN
org_organisation_id,NaN,NaN,NaN,NaN,NaN
app_id,102944,103806,104935,106134,NaN
app_vop_name,a0020000000PEhI,a0020000000PEhI,a0020000000PEhI,a0020000000PEhI,NaN
app_volunteer_volunteer_id,00QD000000RvcVQ,00QD000000RvJXt,00QD000000RuIxl,00QD000000RtxX8,NaN

## 3. Join volunteers onto applications

In [13]:
dfvol_apfr = dfvol.copy()
dfvol_apfr.rename(columns={'vol_id':'vol_id_app','vol_volunteer_id':'vol_volunteer_id_app'}
                  , inplace=True)

df3 = pd.merge(df2
               ,dfvol_apfr[['vol_id_app','vol_volunteer_id_app']]
               ,how='left', left_on='app_volunteer_volunteer_id', right_on='vol_volunteer_id_app')
print(df3.shape)
df3.tail().T

(128023, 10)

,128018,128019,128020,128021,128022
opp_id,35492,35492,35492,35492,35493
opp_organisation_id,00120000002IssF,00120000002IssF,00120000002IssF,00120000002IssF,00120000002IeNA
opp_volunteer_opportunity_id,a0020000000PEhI,a0020000000PEhI,a0020000000PEhI,a0020000000PEhI,a0020000000PEeJ
org_id,NaN,NaN,NaN,NaN,NaN
org_organisation_id,NaN,NaN,NaN,NaN,NaN
app_id,102944,103806,104935,106134,NaN
app_vop_name,a0020000000PEhI,a0020000000PEhI,a0020000000PEhI,a0020000000PEhI,NaN
app_volunteer_volunteer_id,00QD000000RvcVQ,00QD000000RvJXt,00QD000000RuIxl,00QD000000RtxX8,NaN
vol_id_app,64135,11658,55262,67205,NaN
vol_volunteer_id_app,00QD000000RvcVQ,00QD000000RvJXt,00QD000000RuIxl,00QD000000RtxX8,NaN

## 4. Join placements onto applications

### Method A:

In [14]:
df4a = pd.merge(df3
               , dfplc[['plc_id','plc_volunteer_opportunity_record_id','plc_volunteer_id']]
               , how='left', left_on='app_vop_name', right_on='plc_volunteer_opportunity_record_id')
print(df4a.shape)
df4a.tail().T

(780548, 13)

,780543,780544,780545,780546,780547
opp_id,35492,35492,35492,35492,35493
opp_organisation_id,00120000002IssF,00120000002IssF,00120000002IssF,00120000002IssF,00120000002IeNA
opp_volunteer_opportunity_id,a0020000000PEhI,a0020000000PEhI,a0020000000PEhI,a0020000000PEhI,a0020000000PEeJ
org_id,NaN,NaN,NaN,NaN,NaN
org_organisation_id,NaN,NaN,NaN,NaN,NaN
app_id,106134,106134,106134,106134,NaN
app_vop_name,a0020000000PEhI,a0020000000PEhI,a0020000000PEhI,a0020000000PEhI,NaN
app_volunteer_volunteer_id,00QD000000RtxX8,00QD000000RtxX8,00QD000000RtxX8,00QD000000RtxX8,NaN
vol_id_app,67205,67205,67205,67205,NaN
vol_volunteer_id_app,00QD000000RtxX8,00QD000000RtxX8,00QD000000RtxX8,00QD000000RtxX8,NaN
plc_id,15676,16379,16466,17186,NaN
plc_volunteer_opportunity_record_id,a0020000000PEhI,a0020000000PEhI,a0020000000PEhI,a0020000000PEhI,NaN
plc_volunteer_id,00QD000000Vwgmn,00Q20000001Rrkq,00Q200000025Waa,00Q200000025i0n,NaN

### Method B

In [15]:
df4b = pd.merge(df3
               , dfplc[['plc_id','plc_volunteer_opportunity_record_id','plc_volunteer_id']]
               , how='left'
               , left_on='opp_volunteer_opportunity_id'
               , right_on='plc_volunteer_opportunity_record_id')
print(df4b.shape)
df4b.tail().T

(788765, 13)

,788760,788761,788762,788763,788764
opp_id,35492,35492,35492,35492,35493
opp_organisation_id,00120000002IssF,00120000002IssF,00120000002IssF,00120000002IssF,00120000002IeNA
opp_volunteer_opportunity_id,a0020000000PEhI,a0020000000PEhI,a0020000000PEhI,a0020000000PEhI,a0020000000PEeJ
org_id,NaN,NaN,NaN,NaN,NaN
org_organisation_id,NaN,NaN,NaN,NaN,NaN
app_id,106134,106134,106134,106134,NaN
app_vop_name,a0020000000PEhI,a0020000000PEhI,a0020000000PEhI,a0020000000PEhI,NaN
app_volunteer_volunteer_id,00QD000000RtxX8,00QD000000RtxX8,00QD000000RtxX8,00QD000000RtxX8,NaN
vol_id_app,67205,67205,67205,67205,NaN
vol_volunteer_id_app,00QD000000RtxX8,00QD000000RtxX8,00QD000000RtxX8,00QD000000RtxX8,NaN
plc_id,15676,16379,16466,17186,NaN
plc_volunteer_opportunity_record_id,a0020000000PEhI,a0020000000PEhI,a0020000000PEhI,a0020000000PEhI,NaN
plc_volunteer_id,00QD000000Vwgmn,00Q20000001Rrkq,00Q200000025Waa,00Q200000025i0n,NaN

### Method C

In [16]:
df4c = pd.merge(df3.loc[~pd.isnull(df3['app_volunteer_volunteer_id'])].copy()
               , dfplc[['plc_id','plc_volunteer_opportunity_record_id','plc_volunteer_id']]
               , how='left'
               , left_on='app_volunteer_volunteer_id'
               , right_on='plc_volunteer_id')
print(df4c.shape)
df4c.tail().T

(173171, 13)

,173166,173167,173168,173169,173170
opp_id,35492,35492,35492,35492,35492
opp_organisation_id,00120000002IssF,00120000002IssF,00120000002IssF,00120000002IssF,00120000002IssF
opp_volunteer_opportunity_id,a0020000000PEhI,a0020000000PEhI,a0020000000PEhI,a0020000000PEhI,a0020000000PEhI
org_id,NaN,NaN,NaN,NaN,NaN
org_organisation_id,NaN,NaN,NaN,NaN,NaN
app_id,103806,104935,104935,104935,106134
app_vop_name,a0020000000PEhI,a0020000000PEhI,a0020000000PEhI,a0020000000PEhI,a0020000000PEhI
app_volunteer_volunteer_id,00QD000000RvJXt,00QD000000RuIxl,00QD000000RuIxl,00QD000000RuIxl,00QD000000RtxX8
vol_id_app,11658,55262,55262,55262,67205
vol_volunteer_id_app,00QD000000RvJXt,00QD000000RuIxl,00QD000000RuIxl,00QD000000RuIxl,00QD000000RtxX8
plc_id,10126,24119,24121,24123,21557
plc_volunteer_opportunity_record_id,a0020000000PEhI,a0020000000m0ro,a00D000000IPnEe,a0020000004FrwQ,a002000000B84i2
plc_volunteer_id,00QD000000RvJXt,00QD000000RuIxl,00QD000000RuIxl,00QD000000RuIxl,00QD000000RtxX8

# Decide method C !

~## 5. No longer join volunteers onto placements, assume that only volunteers who applied can be placed, so we already have their info

In [26]:
# dfvol_plc = dfvol.copy()
# dfvol_plc.rename(columns={'vol_id':'vol_id_plc','vol_volunteer_id':'vol_volunteer_id_plc'}, inplace=True)

# df5 = pd.merge(df4c
#                ,dfvol_plc[['vol_id_plc','vol_volunteer_id_plc']]
#                ,how='left', left_on='plc_volunteer_id', right_on='vol_volunteer_id_plc')
# print(df5.shape)
# df5.tail().T

----

# Write to DB

## Original Tables

In [18]:
dfoppsaltm.to_sql('dfopp', cnx, if_exists='replace')
dforgs.to_sql('dforg', cnx, if_exists='replace')
dfoppsapfr.to_sql('dfapp', cnx, if_exists='replace')
dfplc.to_sql('dfplc', cnx, if_exists='replace')
dfvol.to_sql('dfvol', cnx, if_exists='replace')

## Index Table

In [27]:
df4c.to_sql('merge_index', cnx, if_exists='replace')

## Full denormalised Table for ease of use

#### Join opportunities info

In [28]:
dfd = pd.merge(df4c, dfoppsaltm, how='left', left_on='opp_id', right_on='opp_id')
print(dfd.shape)

(173171, 41)

#### Join org info

In [29]:
dfd = pd.merge(dfd, dforgs, how='left', left_on='org_id', right_on='org_id')
print(dfd.shape)

(173171, 56)

#### Join applications info

In [30]:
dfd = pd.merge(dfd, dfoppsapfr, how='left', left_on='app_id', right_on='app_id')
print(dfd.shape)

(173171, 65)

#### Join info about the volunteer who made the application

In [31]:
dfd = pd.merge(dfd, dfvol, how='left', left_on='vol_id_app', right_on='vol_id')
print(dfd.shape)

(173171, 87)

#### Join placed info

In [32]:
dfd = pd.merge(dfd, dfplc, how='left', left_on='plc_id', right_on='plc_id')
print(dfd.shape)

(173171, 98)

In [33]:
dfd.tail().T

,173166,173167,173168,173169,173170
opp_id,35492,35492,35492,35492,35492
opp_organisation_id_x,00120000002IssF,00120000002IssF,00120000002IssF,00120000002IssF,00120000002IssF
opp_volunteer_opportunity_id_x,a0020000000PEhI,a0020000000PEhI,a0020000000PEhI,a0020000000PEhI,a0020000000PEhI
org_id,NaN,NaN,NaN,NaN,NaN
org_organisation_id_x,NaN,NaN,NaN,NaN,NaN
app_id,103806,104935,104935,104935,106134
app_vop_name_x,a0020000000PEhI,a0020000000PEhI,a0020000000PEhI,a0020000000PEhI,a0020000000PEhI
app_volunteer_volunteer_id_x,00QD000000RvJXt,00QD000000RuIxl,00QD000000RuIxl,00QD000000RuIxl,00QD000000RtxX8
vol_id_app,11658,55262,55262,55262,67205
vol_volunteer_id_app,00QD000000RvJXt,00QD000000RuIxl,00QD000000RuIxl,00QD000000RuIxl,00QD000000RtxX8
plc_id,10126,24119,24121,24123,21557
plc_volunteer_opportunity_record_id_x,a0020000000PEhI,a0020000000m0ro,a00D000000IPnEe,a0020000004FrwQ,a002000000B84i2
plc_volunteer_id_x,00QD000000RvJXt,00QD000000RuIxl,00QD000000RuIxl,00QD000000RuIxl,00QD000000RtxX8
opp_created_date,2005-12-16 00:00:00,2005-12-16 00:00:00,2005-12-16 00:00:00,2005-12-16 00:00:00,2005-12-16 00:00:00
opp_volunteer_opportunity_id_y,a0020000000PEhI,a0020000000PEhI,a0020000000PEhI,a0020000000PEhI,a0020000000PEhI
opp_organisation_id_y,00120000002IssF,00120000002IssF,00120000002IssF,00120000002IssF,00120000002IssF
opp_organisation_name,Step,Step,Step,Step,Step
opp_volunteer_opportunity_volunteer_opportunity,Social outings and activities volunteer,Social outings and activities volunteer,Social outings and activities volunteer,Social outings and activities volunteer,Social outings and activities volunteer
opp_activity_that_reflects_opportunity,NaN,NaN,NaN,NaN,NaN
opp_volunteer_bureau,South Dublin County,South Dublin County,South Dublin County,South Dublin County,South Dublin County
opp_county,Dublin,Dublin,Dublin,Dublin,Dublin
opp_morning,Monday; Tuesday; Wednesday; Thursday; Friday,Monday; Tuesday; Wednesday; Thursday; Friday,Monday; Tuesday; Wednesday; Thursday; Friday,Monday; Tuesday; Wednesday; Thursday; Friday,Monday; Tuesday; Wednesday; Thursday; Friday
opp_afternoon,Monday; Tuesday; Wednesday; Thursday,Monday; Tuesday; Wednesday; Thursday,Monday; Tuesday; Wednesday; Thursday,Monday; Tuesday; Wednesday; Thursday,Monday; Tuesday; Wednesday; Thursday
opp_evenings,Thursday,Thursday,Thursday,Thursday,Thursday
opp_level_of_english_required_for_role,NaN,NaN,NaN,NaN,NaN
opp_can_you_involve_volunteers_with,NaN,NaN,NaN,NaN,NaN
opp_age_restrictions_picklist,NaN,NaN,NaN,NaN,NaN
opp_age_restrictions,18+,18+,18+,18+,18+
opp_which_volunteer_supports_do_you_provide,NaN,NaN,NaN,NaN,NaN
opp_hours_per_week_required,2,2,2,2,2
...,...,...,...,...,...
vol_age_group,16-25,36-49,36-49,36-49,26-35
vol_why_do_you_want_to_volunteer_now,Give something back,Want to do something in my community,Want to do something in my community,Want to do something in my community,Meet new People/Make new friends
vol_volunteer_status,Registered,Registered,Registered,Registered,Registered
vol_method_of_contact_with_volunteer,Contact by phone/internet,Face to face meeting,Face to face meeting,Face to face meeting,Contact by phone/internet
vol_face_to_face,NaN,Appointment,Appointment,Appointment,NaN
vol_gender,Female,Female,Female,Female,Female
vol_nationality,Irish,Nigerian,Nigerian,Nigerian,American
vol_placed,Placed,Placed,Placed,Placed,Placed
vol_reasons_for_non-placement,NaN,NaN,NaN,NaN,NaN
vol_volunteered_before,Yes,Yes,Yes,Yes,No
vol_volunteer_bureau,South Dublin County,South Dublin County,South Dublin County,South Dublin County,South Dublin County
vol_local_area__dublin,NaN,NaN,NaN,NaN,NaN
vol_volunteer_recruitment_method,Internet Search,Internet Search,Internet Search,Internet Search,Word of Mouth/Referred by another agency
vol_activity_you_are_interested_in,NaN,NaN,NaN,NaN,NaN
vol_cause_you_are_interested_in,NaN,NaN,NaN,NaN,NaN
vol_skills_qualities,"I am a very outgoing, friendly person, with ex...","I am hard working, patience, Approachable, Rel...","I am hard working, patience, Approachable, Rel...","I am hard working, patience, Approachable, Rel...","I was teaching secondary school in Colorado, a..."
vol_skills_profile,Hospitality/ Befriending; Multi-lingual/ Multi...,Community Development/ Social work; Youth/ Chi...,Community Development/ Social work; Youth/ Chi...,Community Development/ Social work; Youth/ Chi...,Community Development/ Social work; Education/...
vol_county,NaN,NaN,NaN,NaN,NaN
vol_id,11658,55262,55262,55262,67205
plc_place_volunteer_connector,v-24123,v-22912,v-22910,v-22911,v-22718
plc_volunteer_id_y,00QD000000RvJXt,00QD000000RuIxl,00QD000000RuIxl,00QD000000RuIxl,00QD000000RtxX8
plc_place_volunteer_id,a01D000000fqbKt,a01D000000f8lHP,a01D000000f8lHA,a01D000000f8lHF,a01D000000f8gFm
plc_place_volunteer_created_date,2012-06-01 00:00:00,2012-03-29 00:00:00,2012-03-29 00:00:00,2012-03-29 00:00:00,2012-03-16 00:00:00
plc_volunteer_opportunity_created_date,2005-12-23 00:00:00,2006-06-09 00:00:00,2011-12-15 00:00:00,2007-10-11 00:00:00,2009-06-24 00:00:00
plc_volunteer_opportunity_record_id_y,a0020000000PEhI,a0020000000m0ro,a00D000000IPnEe,a0020000004FrwQ,a002000000B84i2
plc_volunteer_registered_centre,South Dublin County,South Dublin County,South Dublin County,South Dublin County,South Dublin County
plc_organisation,Step,South Dublin County Volunteer Centre,50th International Eucharistic Congress,Conservation Volunteers Ireland,Dublin Central Mission
plc_volunteer_hours,104,52,100,200,104
plc_volunteer_opportunity_volunteer_centre,South Dublin County,South Dublin County,South Dublin County,South Dublin County,South Dublin County
plc_volunteer_opportunity_volunteer_opportunity,Social outings and activities volunteer,other placement,Planning Volunteers,Conservation Volunteers,Conversational English Teacher

In [34]:
dfd.to_sql('full_denormalised_table', cnx, if_exists='replace')

---